

*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* list-style-type: none; */
}

a.anchor{
    display:block;
    position: relative;
    top:-55px;
    visibility: hidden;
}

html{
    scroll-behavior: smooth;
}


body
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background:#000; */
    /* overflow:hidden; */
}

/* home section */

.square
{
    /* top:50px; */
    padding:auto;
    margin:auto;
    position: relative;
    width:600px;
    height:600px;
    display:flex;
    justify-content: center;
    align-items: center;


}


.square span:nth-child(1)
{
    position: absolute;
    margin: auto;
    width:90%;
    height: 90%;
    border: 2px solid #fff;
    border-radius:38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.square:hover span:nth-child(1)
{
    border: none;
    background: rgba(0,0,0,0.1);
}


.square span:nth-child(2)
{
    position: absolute;
    /* top:0;
    left:0; */
    width:90%;
    height: 90%;
    border: 2px solid #fff;
    border-radius:38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.square:hover span:nth-child(2)
{
    border: none;
    background: rgba(0,0,0,0.1);
    
}


.square span:nth-child(3)
{
    position: absolute;
    /* top:0;
    left:0; */
    width:90%;
    height: 90%;
    border: 2px solid #fff;
    border-radius:38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate2 10s linear infinite;
}

.square:hover span:nth-child(3)
{
    border: none;
    background: rgba(0,0,0,0.1);
    
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes animate2
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

.content
{
    position: relative;
    padding: 40px 60px;
    color: #fff;
    text-align: center;
    transition:0.5s;
    z-index:1000;
    font-size: 1.5rem;

}

.content a
{
    position: relative;
    display: inline-block;
    margin-top:10px;
    border:2px solid #fff;
    padding: 6px 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%

}

.content a:hover
{
    background-color: #fff;
    color: #333;
}


/* sections */
section{
    top:0;
    left:0;
    margin: 16vh 0;
    width: 100%;
    /* display: inline-block; */
}

#home{
    margin:8vh 0 ;
}



.titles{
    left:0;
    color: rgb(1, 61, 1);
    width: 30%;
    background-color: #fff;
    float:left;
    font-size:2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    justify-content: center;
    margin: auto;
    text-align: center;
    border-left: 6px solid red;


}

.contents{
    top:0;
    left:0;
    display: inline-block;
    /* height: 300px; */
    width: 70%;
    /* background-color: bisque; */
    font-size:1.4rem;
    word-wrap:break-word;
}


#about>.contents{
    color:rgb(63, 37, 37)(51, 11, 11);
}


.item{
    margin-bottom: 7vh;
}

.item>dl>dt{
    color:blueviolet;
}

.item>dl>dd{
    margin-left: 50px;
    margin-top:7px;
    display: list-item;
    list-style-type: disc;
    color: gray;
    font-size: 1.3rem;
    

}









/* icons */


.icons{
    position: relative;

}

.icons >li{
    list-style-type: none;
    margin: 10px;
}


.icons a{
    display:inline-flex;
    width: 40px;
    height: 40px;
    background: #2c3e50;
    color:white;
    margin:0 6px;
    border-radius: 50%;
    justify-content:center;
    align-items: center;
    transition: 0.4s;
    font-size: 22px;


}

.icons>li>span{
    color:blueviolet;
}



.icons a:hover{
    background: #e67e22;
}

.icons a i{
    transition: 0.4s linear;
}

.icons a:hover > i {
    transform: scale(1.6) rotate(25deg);
}
